<% if (locals.errors?.[fieldName]?.length) { %>
<ul class="errors">
  <% if (Array.isArray(errors[fieldName])) { %> <% errors[fieldName].forEach(err => { %>
  <li class="error"><%= err.msg || err.message || err %></li>
  <% }) %> <% } else { %>
  <li class="error"><%= errors[fieldName] %></li>
  <% } %>
</ul>
<% } %>
