<% if (_view.hasMessages()) { %>
<section class="section--flash-msgs">
  <div class="ctr">
    <ul class="flash-msgs">
      <% Object.entries(_view.getMessages()).forEach(([type, msgs]) => { %> <% msgs.forEach(msg =>
      { %>
      <li class="flash-msg <%= type %>">
        <span><%= msg %></span>
        <button class="close-flash">✖</button>
      </li>
      <% }) %> <% }) %>
    </ul>
  </div>
</section>
<% } %>
