<header class="main-header">
  <div class="ctr">
    <a href="/" class="logo">MembersOnly</a>

    <nav>
      <ul>
        <li>
          <a class="signup nav-link" href="/signup">signup</a>
        </li>
        <li>
          <a class="login nav-link" href="/login">login</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
