label {
  font-size: 1.4rem;
  font-weight: 500;
  color: $color-grey-3;

  &::after {
    content: ' * ';
    color: $color-tomato;
  }
}

input,
textarea,
select {
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid $color-grey-6;
  border-radius: 1.2rem;

  font-size: 1.6rem;
  background-color: $color-black-3;
  color: $color-white;

  transition: all 0.3s, outline 0ms, width 0ms, height 0ms;

  &.invalid {
    border-color: $color-tomato;
  }

  &:focus {
    border-color: $color-accent;

    outline-width: 0;
    outline-color: transparent;
  }

  &::placeholder {
    color: $color-grey-5;
    font-size: 1.4rem;
  }
}

input[type='checkbox'],
input[type='radio'] {
  width: 2rem;
  height: 2rem;
  accent-color: $color-accent;
}

textarea {
  resize: vertical;
}

option {
  background-color: $color-black-2;
  color: $color-white;
}

.lbl-input-ctr {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &.lbl-input-inline {
    .inline {
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }
  }
  .errors {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    .error {
      font-size: 1.4rem;
      color: $color-tomato;

      &::before {
        content: ' ⚠ ';
      }
    }
  }

  .description {
    margin-inline-start: 2%;
    color: $color-grey-5;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
